<%= image_tag @portfolio_items.main_image unless @portfolio_items.main_image.nil? %>

<h1><%= @portfolio_items.title %></h1>

<em><%= @portfolio_items.subtitle %></em>
<p><%= @portfolio_items.body %></p>

<h2>Tech used:</h2>
<%- @portfolio_items.technologies.each do |t| %>
  <p> <%= t.name %> </p>
<% end %>

<%= link_to "Edit item", edit_portfolio_path(@portfolio_items) %>
<%= link_to "Delete item", portfolio_path(@portfolio_items), method: :delete, data: { confirm: "Are you sure?"} %>
